<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla HTML para header</title>
    <link rel="stylesheet" href="../../CSS/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-<HASH>" crossorigin="anonymous" />

</head>

<body>
<header>
    <div class="header">
        <div class="logo-menu">
            <nav class="menu">
                <i class="fas fa-bars"></i>
            </nav>
            <a class="logo" href="#">
                <p>Logo</p>
            </a>
        </div>
        <div class="search">
            <form action="#">
                <input class="searchBox" type="text" placeholder="Search by Item Name">
                <button type="submit">All categories</button>
            </form>
        </div>
        <div class="buy">
                <i class="fas fa-heart"></i>
                <i class="fas fa-shopping-cart"></i>
            <a href="../User/userLogin.html" target="_top">Login</a>
            /
            <a href="../User/userRegister.html" target="_top">Sign Up</a>
        </div>
    </div>
</header>
</body>
</html>
